akka {
  loglevel=DEBUG,
  loggers=["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"],
  actor {
    debug {
      receive = on
      autoreceive = on
      lifecycle = on
      event-stream = on
      unhandled = on
    }
  }
}