@page "/survival"
@using TestDrivingFun.WebUi.Data;
<h3>Survival Setup</h3>


    <div class="board">
        @for (int i = 0; i < 20; i++)
        {
            <div class="column">
                @for (int j = 0; j < 20; j++)
                {
                    <img class="cell" src="images/ank.png" />
                }
            </div>
        }

    </div>



<img class="cell" src="images/ank.png" />
<img class="cell" src="/images/rex.svg" />
<img class="cell" src="/images/steg.svg" />

@code {
    string Column;
    bool gameActive = true;


}
